{% extends 'layout.html' %}

{% block body %}
    
    <h1>Stoneware Glazes - A Systematic Approach - On-line.</h1>

<h2>Access</h2>
<p>Part Free, Part for a Fee:  The Table of Contents, and the Index are freely accessible, as well as the front section of the book to the end of Chapter 6.
</p>



<p>To access any pages from Chapter 7 to the end, you need to log on.  For this you will need to be subscribed.  Choose your own subscription price from AU$5.  once you complete the purchase, you will be e-mailed your password, which combined with your username (your e-mail address) will provide access to the whole book.
</p>

<h2>Navigating the Book</h2>

<p>Links to Chapters:  If you want to read about particular types of stoneware glazes, most of these you can find listed in the Chapter Headings in the Table of Contents.
</p>

<p>Links to Pages:  For more detailed searches go to the Index and click on the link.  Each page is provided as an image, so it is not possible to do a "word search" through the text.  However you can search from the Index for any Index word, and the link will take you directly to the relevant page.
</p>

    
{% endblock %}

