<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Stoneware Glazes</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    </head>
    <body>
        <div class="yui-d1">
            <div class="title">
                <div class="user-status">
                    <p>
                    </p>
                </div>
            </div>
        </div>
        
	<div class="wrapper">
            <div class="menu">
                    <ul>
                        <li{% if section == 'home' %} class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
                        <li> <a href="{{ url_for('book-toc') }}">Table Of Contents</a></li>
                        <li> <a href="{{ url_for('book-index') }}">Book Index</a></li>
                        {% if goolge_user -%}<li> <a href="{{ url_for('admin') }}">Admin</a></li>
                        <li> <a href="{{goolge_logout_url}}">Google logout</a></li>
                        <li> <a href="{{ url_for('book') }}">List of Pages</a></li>
                        {% endif %}
			<li>
			<p class="donate">If you find this service useful, please consider making 
                        a donation to help offset the web hosting costs.</p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="business" value="ian-paypal@currie.to">
			<input type="hidden" name="lc" value="AU">
			<input type="hidden" name="item_name" value="Stoneware Glazes Online">
			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="currency_code" value="AUD">
			<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
			<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_AU/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
			<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			</li>
                        
                    </ul>
            </div>

            <div class="content">
		{% block body %}
		{% endblock %}
            </div>
        </div>
        
        <div class="footer">
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
            </p>
        </div>

        {%- block body_extra %}
            <script src="/static/scripts/scripts.js"></script>

            {%- block messages -%}
                <script>
                tipfy.instances = {};
                tipfy.instances.messages = new tipfy.ui.Messages('tipfy-messages');
                {% if messages %}
                tipfy.instances.messages.addMessages({{ messages }});
                {% endif %}
                </script>
            {%- endblock -%}
        {% endblock %}
    </body>
</html>
