<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Stoneware Glazes</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    </head>
    <body>
        <div class="yui-d1">
            <div class="title">
                <div class="user-status">
                    <p>{% if current_user or auth_session -%}
                        {% if current_user -%}
                            Signed in as <span class="user_email">{{ current_user.username|e }}</span> |
                        {%- endif %} <a href="{{ logout_url }}">Sign out</a>
                    {% else %}
                        Hi, there. <a href="{{ login_url }}">Sign in</a>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        
	<div class="wrapper">
            <div class="menu">
                    <ul>
                        <li{% if section == 'home' %} class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
                        <li> <a href="{{ url_for('book') }}">List of Pages</a></li>
                        <li> <a href="{{ url_for('book-index') }}">Book Index</a></li>
                        {% if goolge_user -%}<li> <a href="{{ url_for('admin') }}">Admin</a></li>
                        <li> <a href="{{goolge_logout_url}}">Google logout</a></li>
                        {% endif %}
                    </ul>
            </div>

            <div class="content">
		{% block body %}
		{% endblock %}
            </div>
        </div>
        
        <div class="footer">
    	    <p>Powered by <a href="http://www.tipfy.org/">tipfy</a>.</p>
        </div>

        {%- block body_extra %}
            <script src="/static/scripts/scripts.js"></script>

            {%- block messages -%}
                <script>
                tipfy.instances = {};
                tipfy.instances.messages = new tipfy.ui.Messages('tipfy-messages');
                {% if messages %}
                tipfy.instances.messages.addMessages({{ messages }});
                {% endif %}
                </script>
            {%- endblock -%}
        {% endblock %}
    </body>
</html>
