{% extends 'layout.html' %}

{% from '_form_macros.html' import form_field %}

{% block body %}
    <h1>Sign in</h1>
    <form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form">
        <ol>
            <li>{{ form_field(form.username, class='medium') }}</li>
            <li>{{ form_field(form.password, class='medium') }}</li>
            <li>{{ form_field(form.remember) }}</li>
        </ol>
        <fieldset class="submit">
            <input type="submit" name="submit" value="{{ _('Sign in') }}">
        </fieldset>
    </form>

    <p>Don't have an account? <a href="{{ url_for('auth/register') }}">Create a new one</a>.</p>


{% endblock %}

