{% extends 'layout.html' %}

{% from '_form_macros.html' import form_field %}

{% block body %}
    <h1>Sign in</h1>
    <form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form signin">
        <ul>
            <li class="input">{{ form_field(form.username, class='medium') }}</li>
            <li class="input">{{ form_field(form.password, class='medium') }}</li>
            <li>{{ form_field(form.remember) }}</li>
            <li class="submit"><input type="submit" name="submit" value="{{ _('Sign in') }}"></li>
        </ul>
    </form>

    <div class="signup">
    	<h2>Don't have an account? Account signup coming soon.</h2>
    	{#
    	<h2>Don't have an account? Create one now.</h2>
    	<p class="intro">To start creating your account simply make a one-off donation. 
    	   You'll receive unlimited access to the online version of Ian Currie's
    	   <span class="title">Stoneware Glazes - A Systematic Approach</span>.</p>
    	<p class="intro">You decide how
    	   much to donate - give what you think it's worth.</p>

            <form class="application" name="PayPalForm" method="get" onsubmit="return validate()" action="{{ url_for('auth/pay') }}">

                <div class="error" id="validationErrors"></div>
                        
		<p><label for="amount">Donation amount:</label></th>
                        AUD <input type="text" name="amount" id="amount" value="15" class="amount"/>
                        <span class="error" id="amount_error"></span>
                        
                        <input type="submit" class="button" value="Pay Now" title="Make your donation via PayPal" /></p>
            </form>
#}
    </div>
{% endblock %}

